FSharpKoans.Core/bin/
FSharpKoans.Core/obj/
FSharpKoans/bin/
FSharpKoans/obj/
FSharpKoans.Test/bin/
FSharpKoans.Test/obj/
FSharpKoans2008.suo
FSharpKoans2010.suo
packages/
_ReSharper*/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
Thumbs.db